# Database adapter
DB_ADAPTER=postgres

# Database connection URL
DATABASE_URL=""

# SIWE chain id
SIWE_CHAIN_ID=1

# ------ Local ------

# HTTP listen port
PORT=3000
# ------ /Local ------

# ------ Neon ------
DATABASE_URL_UNPOOLED=""
NEON_BRANCH=production
# ------ /Neon ------
