# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

# Dependencies
node_modules/
.pnpm-store/
.pnp
.pnp.*

# Builds
dist/
build/
out/
.next/
.turbo/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# Logs / cache / coverage
*.log
npm-debug.log*
pnpm-debug.log*
.cache/
coverage/
